body {
    background: #0e0e11;
    color: #fff;
    font-family: Arial;
}

.admin-case {
    background: #1a1a22;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

.admin-case img {
    width: 200px;
    border-radius: 6px;
}

#modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.modal-box {
    background: #1a1a22;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}
